<div class="container">

    <div class="title">
        <h1>Select Difficulty</h1>
    </div>

    <div class="content">
        <div class="level-content">
            <div *ngFor="let quiz of quizLevel; index as i">
                <div id="{{ 'element' + i }}" (click)="setCategoryBackgroundColor(i)" (click)="getCategoryIndex(i)" class="item">{{quiz.name}}</div>
            </div>
        </div>
        <div class="btn">
            <div>
                <button routerLink="/">Previous</button>     
            </div>
            <div>
                <button [disabled]="!isClickSuscriber" routerLink="/questions">Start</button>     
            </div>
        </div>
    </div>

</div>