button{
    width: 200px;
    height: 40px;

    margin-top: 5%;
    margin-bottom: 20px;
    
    background: #232551;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

button:disabled{
    width: 200px;
    height: 40px;

    margin-top: 5%;
    margin-bottom: 20px;
    
    background: #232551b2;
    color: #fff;
    border: none;
    outline: none;
    cursor:default;
}